<!-- [columns]="['id', 'categoryName', 'description']" -->
<dx-data-grid
  #dataGrid
  id="gridContainer"
  [dataSource]="datasource"
  keyExpr="id"
  [showBorders]="true"
  (onRowUpdating)="onRowUpdating($any($event))"
>
  <dxi-column dataField="id" [allowEditing]="false"></dxi-column>
  <dxi-column dataField="categoryName"></dxi-column>
  <dxi-column dataField="description"></dxi-column>
  <dxo-header-filter [visible]="true" ></dxo-header-filter>
  <dxo-filter-row [visible]="true" applyFilter="'auto'"></dxo-filter-row>
  <dxo-editing [allowAdding]="true" [allowUpdating]="true" [allowDeleting]="true" refreshMode="'reshape'" ></dxo-editing>
</dx-data-grid>