<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light bg-warning">
    <div class="container px-4 px-lg-5">
      <a class="navbar-brand" href="#!">DevExtreme Angular</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
          class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">

          <!-- DATAGRID -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">DxDataGrid</a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <!-- <li><a class="dropdown-item" href="#!">All Products</a></li>
              <li>
                <hr class="dropdown-divider" />
              </li> -->
              <li><a class="dropdown-item" href="/01-datagrid/01-crud-islemleri">CRUD Islemleri</a></li>
            </ul>
          </li>

          <!-- LIST -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">DxList</a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="/ders-datagrid/ders-1">Ders-1 CRUD Islemleri </a></li>
            </ul>
          </li>                

          <!-- SELECTBOX -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">DxSelectBox</a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="/ders-datagrid/ders-1">Ders-1 CRUD Islemleri </a></li>
            </ul>
          </li>                                

          <!-- TREELIST -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">DxTreeList</a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="/ders-datagrid/ders-1">Ders-1 CRUD Islemleri </a></li>
            </ul>
          </li>                                                

          <!-- FORM -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">DxForm</a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="/ders-datagrid/ders-1">Ders-1 CRUD Islemleri </a></li>
            </ul>
          </li>                                                

          <!-- POPUP -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">DxPopup</a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="/ders-datagrid/ders-1">Ders-1 CRUD Islemleri </a></li>
            </ul>
          </li>                                         

          <!-- TAGBOX -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">DxTagBox</a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="/ders-datagrid/ders-1">Ders-1 CRUD Islemleri </a></li>
            </ul>
          </li>

          <!-- DIGERLERI -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">Digerleri</a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="/ders-datagrid/ders-1">Ders-1 CRUD Islemleri </a></li>
            </ul>
          </li>

          <!-- giris yapilmamissa -->
          <a *ngIf="!isLoginSuccess" type="button" class="btn btn-danger" href="/login">Giris Yap</a>

          <!-- giris yapilmissa -->
          <li *ngIf="isLoginSuccess" class="nav-item dropdown bg-light">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">{{userName | uppercase}}</a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="/logout">Çıkış</a></li>
            </ul>
          </li>

        </ul>
        <!-- <form class="d-flex">
                        <button class="btn btn-outline-dark" type="submit">
                            <i class="bi-cart-fill me-1"></i>
                            Cart
                            <span class="badge bg-dark text-white ms-1 rounded-pill">0</span>
                        </button>
                    </form> -->
      </div>
    </div>
  </nav>
